:root {
  --mainColor: #af8832;
  --mainText: #1f2124;
  --whiteText: #fff;
  --secondText: #92644a;
  --maxWidth: 1140px;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/vazir.ttf") format("truetype-variations");
  font-weight: 100 900; /* بازه وزن‌ها برای variable font */
  font-style: normal;
}

body {
  font-family: "Vazirmatn", sans-serif;
  color: var(--mainText);
  direction: rtl;
}

a {
  text-decoration: none;
  color: var(--mainText);
  font-size: 15px;
}

a:hover {
  color: var(--whiteText);
}

header {
  background-color: var(--mainColor);
  padding: 10px;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80px;
}

.logo > img {
  width: 100%;
}

nav menu {
  display: flex;
}

.menu-item {
  padding: 8px 16px;
}

.category {
  margin: 60px 0;
  /* margin-bottom: 60px; */
}
/* category title */

.category-title {
  margin: 16px 0;
}

.category-title > h4 {
  color: var(--secondText);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}
.category-title > h4::before {
  content: "";
  background: var(--secondText);
  /* border: 0.5px solid var(--mainText); */
  height: 1px;
  flex: 1;
  margin-left: 10px;
}
.category-title > h4::after {
  content: "";
  background: var(--secondText);
  height: 1px;
  flex: 1;
  margin-right: 10px;
}

.category-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* items */
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 11px 9px 11px 2px rgba(207, 198, 198, 0.75);
  -webkit-box-shadow: 11px 9px 11px 2px rgba(207, 198, 198, 0.75);
  -moz-box-shadow: 11px 9px 11px 2px rgba(207, 198, 198, 0.75);
}
.item-image {
  width: 140px;
}

.item-image > img {
  width: 100%;
  border-radius: 12px;
}

.item-title {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--secondText);
  margin-bottom: 10px;
}

.item-ingredient {
  font-size: 16px;
  color: #333;
  line-height: 20px;
  margin-bottom: 10px;
}

.item-price {
  font-weight: bold;
  color: var(--mainText);
  font-size: 18px;
}

footer {
  background: var(--mainText);
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: var(--mainColor);
  padding: 30px 10px 10px;
}

footer > p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

footer .address {
  font-size: 28px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.social-icon {
  width: 26px;
  height: 26px;
  fill: var(--secondText);
}
.social-icon:hover {
  fill: #fff;
}

/* helper css classes */
.main-container {
  padding: 10px;
}
.container {
  max-width: 1140px;
  margin: auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  margin: 120px 0;
  gap: 20px;
}

.card {
  height: 400px;
  box-shadow: 11px 9px 11px 2px rgba(207, 198, 198, 0.75);
  -webkit-box-shadow: 11px 9px 11px 2px rgba(207, 198, 198, 0.75);
  -moz-box-shadow: 11px 9px 11px 2px rgba(207, 198, 198, 0.75);
  flex: 1;
  /* min-width: 100px; */
  /* border: 2px solid red; */
}
.card:hover {
  transform: scale(1.1);
}

.card-link {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 30px;
  /* width: 100%; */
  height: 100%;
}

.card-link:hover {
  color: initial;
}

.card-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  font-size: 32px;
  font-weight: bold;
  color: var(--secondText);
}

.card-content {
  font-size: 20px;
  line-height: 1.5;
}

.card-icons {
  width: 40px;
  height: 40px;
  fill: var(--secondText);
}

.card-socials {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}
.card-social-icon {
  width: 32px;
  height: 32px;
  fill: var(--secondText);
}

/* hero section */

.hero {
  /* background-image: url(./assets/images/1.jpg); */
  background-size: cover;
  background-attachment: fixed;
  background-position: 75%;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.hero:first-child {
  background-image: url(./assets/images/1.jpg);
}
.hero:last-child {
  background-image: url(./assets/images/2.jpg);
}
.hero-image {
  width: 100%;
}

.header-logo {
  height: 400px;
  display: flex;
  justify-content: center;
}

.header-logo > img {
  width: 100%;
}
@media (max-width: 766px) {
  .category-contents {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  footer > p {
    font-size: 16px;
    text-align: center;
  }

  footer .address {
    font-size: 22px;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    flex: auto;
  }

  .card-link {
    align-items: center;
  }
}
